.App {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  background: blue;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background: red;
  margin: 20px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}
